.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form_edit {
  float: left;
}
.body{
    
    background-image: url("http://blog.sastodeal.com/wp-content/uploads/2015/10/carpool.png");
    background-size: cover;
}
.welcome{
      color: black;
}
.error{
  color: red;
}

.input_img {
  visibility:hidden;
  width:0;
  height:0
}
.img_perfil{
      width: 50%;
    margin-left: 23%;
    position: initial;
}
.img_user{
      width: 20%;
       align-content: center;
}